__pycache__/
*.py[cod]
.venv/
venv/
.env
.idea/
.vscode/
Thumbs.db
*.pth
*.h5
*.db
config.py
highscore.txt
**/submission.csv
**/result.txt
**/recognized_text.txt
*.mp3
data/cifar-*/
*.tar.gz
*.zip
*.rar
